<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu ({{totalPrice | currency : "USD"}})</div>
    <div>
      <button type="button" class="btn btn-primary" (click)="goToView2()" [disabled]="qty===0" >
        Place Order ({{qty}})
      </button>
    </div>
  </div>
</div>

<br>

<table>

  <tr *ngFor="let x of items | async">
    <!-- each row display a single mene item -->
    <div class="row mb-2">
      <div class="col">
        <div class="menu-item">
          <div (click)="removeItem(x)">
            <button type="button" class="btn btn-warning">
              <i class="bi bi-x-square"></i>
            </button>
          </div>
          <div class="menu-details">
            <div>Name: <span class="fw-bold"> {{x.name}} </span> </div>
            <div>Description:
              <span class="fst-italic">
                {{x.description}}
              </span>
            </div>
            <div>Price:
              <span class="fst-italic">
                {{x.price | currency:"USD"}}
              </span>
            </div>
            <div *ngIf="counter.get(x)">
              <div class="text-danger fw-bold">Quantity: {{counter.get(x)}}</div>
            </div>
            
          </div>
          <div class="menu-button-end" (click) = "addItem(x)">
            <button type="button" class="btn btn-success" >
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </tr>

</table>
  
